<script src="https://utteranc.es/client.js"
repo="cgutierr-zgz/cgutierr-zgz.github.io"
issue-term="pathname"
label="comment"
crossorigin="anonymous"
async>
</script>

<!-- {{ if .Params.showComment | default (.Site.Params.article.showComment | default true) }}
    <div class="comment">
        <script src="https://utteranc.es/client.js"
        repo="cgutierr-zgz/cgutierr-zgz.github.io"
        issue-term="pathname"
        label="comment"
        theme="gruvbox-dark"
        crossorigin="anonymous"
        async>
        </script>
    </div>
{{ end }} -->